@model IEnumerable<GroupCourseWork.Models.Category>

@{
    ViewData["Title"] = "Category";
}
<style>
    .action-head{
        text-align:center;
    }
    a {
        color: white;
    }
</style>

<h1>Categories</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</p>
<table class="table table-bordered">
    <thead class="thead-dark">
        <tr>
            <th width="50%">
                <!--@Html.DisplayNameFor(model => model.Name) -->
                Category Name
            </th>
            <th width="20%" class="action-head">Actions</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td class="table-primary">
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td style="display:flex; justify-content:space-between">
                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary">Edit</a>
                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info">Details</a> 
                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
