@model IEnumerable<GroupCourseWork.Models.Category>

@{
    ViewData["Title"] = "Category";
}
<style>
    .action-head{
        text-align:center;
    }
    a {
        color: white;
    }
</style>

<h1>Categories</h1>

<p>
    <button type="button" class="btn btn-primary"><a asp-action="Create">Create New</a></button>
</p>
<table class="table table-bordered">
    <thead>
        <tr>
            <th width="50%">
                <!--@Html.DisplayNameFor(model => model.Name) -->
                Category Name
            </th>
            <th width="20%" class="action-head">Actions</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td class="table-primary">
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td style="display:flex; justify-content:space-between">
                <button type="button" class="btn btn-primary"><a asp-action="Edit" asp-route-id="@item.Id">Edit</a></button> 
                <button type="button" class="btn btn-info"><a asp-action="Details" asp-route-id="@item.Id">Details</a> </button>
                <button type="button" class="btn btn-danger"><a asp-action="Delete" asp-route-id="@item.Id">Delete</a></button>
            </td>
        </tr>
}
    </tbody>
</table>
